extends ../shared/layout
block main-content
    form(method="post")
        if (!currentUser.facebook)
            label(for="facebook") Facebook
            input(id="facebook" class="form-control" type="text" name="facebook" placeholder="Facebook profile")
            br
        if (!currentUser.twitter)
            label(for="twitter") Twitter
            input(id="twitter" class="form-control" type="text" name="twitter" placeholder="Twitter profile")
            br
        if (!currentUser.linkedIn)
            label(for="linkedIn") LinkedIn
            input(id="linkedIn" class="form-control" type="text" name="linkedIn" placeholder="LinkedIn profile")
            br
        if (!currentUser.google)
            label(for="google") Google+
            input(id="google" class="form-control" type="text" name="google" placeholder="Google+ profile")
            br
        input(type="submit" class="btn btn-lg btn-primary" value="Change")