extends ../shared/layout
block main-content
    h1 #{currentUser.username}
    hr
    .col-lg-2
        h3 E-mail
        | #{currentUser.email}
        br
    ul.nav.pull-right
        li
            a.btn.btn-primary(href="/password") Change password