doctype
html
    head
        title Hirundo
        link(rel="stylesheet" href="/lib/bootstrap-3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/site.css")
    body
        header.nav
        .container
            .navbar-header
                a.navbar-brand(href="/") Hirundo
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    if (currentUser)
                        li
                            a(href="/profile") #{currentUser.username}
                        li
                            a(href="/create") Post message
                        li
                            a(href="/follow") Follow
                        li
                            a(href="/mytimeline") My Timeline
                        li
                            a(href="/timeline") Timeline
                        li
                            a(href="/statistics") Statistics

                        li
                            a(href="/logout") Logout
                    else
                        li
                            a(href="/register") Register
                        li
                            a(href="/login") Login

        .container
            if (errorMessage)
                .alert.alert-danger #{errorMessage}
        .container
            if (successMessage)
                .alert.alert-success #{successMessage}

            block main-content
        include scripts