extends ../shared/layout
block main-content
    .jumbotron
        h2
            strong
                em #{percentage}%
            |  of your messages were sent from one of the
            strong  five
            |  largest cities in Bulgaria:
            br
            br
            strong
                em  Sofia Plovdiv Varna Borgas Ruse
