extends ../shared/layout
block main-content
    .btn-group.btn-group-justified
        a(href="/topten").btn.btn-lg.btn-primary Top ten
        a(href="/highfive").btn.btn-lg.btn-default High five
        a(href="/timeintervals").btn.btn-lg.btn-info Time intervals