extends ../shared/layout
block main-content
    h3 Evaluate
        em #{event.title}
    form(method="post")
        label(for="organization-points") Organization points
        input(id="organization-points" class="form-control" type="number" min="0" max="5" name="organizationPoints" placeholder="Organization points" required="required")
        br
        label(for="venue-points") Venue points
        input(id="venue-points" class="form-control" type="number" min="0" max="5" name="venuePoints" placeholder="Venue points" required="required")
        br
        input(type="submit" class="btn btn-lg btn-primary" value="Rate")